{% extends 'base.html.twig' %}

{% block title %}
  À propos
{% endblock %}

{% block body %}
  <h1>À propos</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem obcaecati ut, at molestiae placeat in eius nihil dignissimos pariatur praesentium. Blanditiis earum voluptatem quia reprehenderit! Quia iure, eligendi eveniet inventore aliquam porro non a, odit asperiores veniam ex? Ad atque consequuntur ipsa delectus quam officia maxime doloribus hic doloremque at.</p>
  <p>Eaque ipsa dolorem vel animi sint voluptas ipsum, dicta consequatur placeat eius porro beatae a accusamus atque voluptates deserunt aperiam eveniet suscipit veniam? Sequi a nihil harum provident culpa iste reiciendis minus eligendi doloremque dolore eius accusantium, nulla dicta, illo deleniti, animi autem tenetur? Commodi nesciunt beatae accusantium minus dolorum!</p>
  <p>Et similique dignissimos odit saepe nam porro fugit consequuntur laudantium hic assumenda accusamus quam cupiditate maxime, dolorem eaque ut architecto mollitia cumque necessitatibus illum doloribus eligendi natus animi! Enim nihil dolore laudantium accusantium nisi aut temporibus, blanditiis qui possimus dignissimos dolor illo consequatur esse. Nisi nam nesciunt ab! Optio, numquam!</p>
  <p>Est aspernatur autem impedit totam libero. Iure praesentium perspiciatis explicabo in libero harum suscipit animi eos repellat soluta nemo id, dicta iusto dolores aperiam sit atque est eligendi iste repellendus. Corrupti, ullam? Dignissimos aperiam corrupti veniam id dolor facere impedit nisi vitae voluptatem expedita odit, quae similique dolores hic at!</p>
  <p>Soluta cumque veniam maxime sapiente doloribus inventore incidunt beatae mollitia rerum veritatis perspiciatis quis maiores aliquid, esse totam suscipit aspernatur magni facilis optio. Culpa corporis saepe itaque adipisci autem animi perferendis maiores laudantium quibusdam, totam asperiores deleniti quod? Magni tempore nostrum odit possimus repellendus harum ad deserunt beatae ratione vitae!</p>
  <p>Sit ab ex assumenda molestiae hic velit cum maiores quasi nostrum, eaque enim autem quo, veniam fuga repellendus blanditiis delectus dolorem temporibus aspernatur a recusandae ad quos! Minima earum reiciendis doloribus exercitationem, velit delectus iure, architecto nesciunt vel, laborum asperiores hic. Corrupti, ipsam quam doloribus repellendus quae veniam expedita maxime!</p>
  <p>Reprehenderit in illo omnis. Ipsum deleniti necessitatibus nisi perferendis doloribus, tempora sunt maxime, cumque aliquam dicta porro minima esse repellat unde. Porro iste ipsum, aspernatur voluptatibus consequuntur corporis a eos tenetur dignissimos excepturi omnis, minus aut! Dolores perferendis temporibus nesciunt eius hic reprehenderit aliquid et, optio quisquam officia at iste?</p>
{% endblock %}
